body {
  margin: 0;
  padding: 0;
  background-color: #504b3a;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  text-align: center;
}

h1 {
  font-size: 6rem;
  font-weight: 200;
}

h2 {
  font-size: 3rem;
  font-weight: 200;
}
