body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #504b3a;
  color: white;
}

header h1 {
  font-weight: 500;
  text-transform: uppercase;
  padding: 2rem 4rem;
}

img {
  width: 10rem;
  height: 10rem;
  border-radius: 25px;
  margin-right: 5rem;
  margin-bottom: 0;
  vertical-align: middle;
}

.Tong,
.Tri {
  display: block;
  margin: 0 10rem 3rem 10rem;
  background-color: #191919;
  border-radius: 25px;
}

p {
  display: inline-block;
}
